.card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 15em;
    padding: 1em;
    /* margin-bottom: 2em; */
    border-radius: .5em;
}

.card-info {
    text-align: left;
    margin-top: .5em;
}

.card-item img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .05);
    border-radius: .5em;
    padding: 2em;
    opacity: 100%;
}

.heart {
    fill: #fff;
    background-color: #E7E7E7;
    font-size: 1.5em;
    padding: .2em;
    border-radius: 50%;
    position: absolute;
 /* for mobile portrait */
    right: 1.25em;
    top: 1.25em;
}

.product-label {
    text-transform: capitalize;
    color: gray;
    font-size: .9rem;
}

.bold {
    font-weight: 700;
}

.price-margin {
    margin-top: 1em;
}