* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #3A4895;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
}

.logo {
  color: #3A4895;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

  .notification-badge {
    background-color: red;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    font-size: .7rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-top: 1px; /* perfectly aligns text vertically */
    position: absolute;
    top: 1.85em;
    right: 3.325em;
  }

