* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
    padding: 0 2em;
    margin-top: 3em; /* gives space above for the last item displayed */
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #fff;
    font-size: 1rem;
}